*{
    padding: 0;
    margin: 0;
}
/* row -1 css start */
#row1{
    background-color: #9e9ef3;
    height:30px;
    width:100%;
}
    .top-section{
        width:90%;
        margin:0 auto;

    }
    .left-links{
        width:60%;
        float:left;
        height:100%;
    }
    .left-links ul{}
    .left-links ul li{
        float:left;
        list-style:none;
        margin-left:10px;
        color:#fff;
        line-height:30px;
    }
    .left-links ul li a{
        color:#fff;
        text-decoration:none;
    }
    .social-links{
         width:30%;
        float:right;
        height:100%;
        text-align:right;
}
    .social-links i{
        color:#fff;
        line-height:30px;
        border-right:2px solid #000;
        padding-right:8px;
    } 
    /*row 1 css end */

    /* row-2 css start*/
#row2{
    height: 80px;
    width: 100%;
    background: #fff;
}
.header_section{
        width: 90%;
        margin: 0 auto;
}
    .logo{
        width: 20%;
        float: left;
    
    }
    .logo img{
        height: 80px;
        margin-top: 10px;
    }

    .menu{ 
        width: 65%;
        float: right;
    }
    .menu ul{}
    .menu ul li{
        float: left;
        width: 108px;
        text-align: center;
        list-style: none;
       line-height: 80px;
    }
    .menu ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #9e9ef3;
    }
    .menu ul li i{
   height: 30px;
   width:  30px;
   border:2px solid orchid;
   border-radius: 100%;
   line-height: 30px;
  
    }

    /* row-2 css end */
    /* row-3 is start*/
    #Row3{
        height:500px;
        width: 100%;
        background-image:url(https://media.architecturaldigest.com/photos/63b5bcb991798386d6c64127/3:2/w_3939,h_2626,c_limit/GettyImages-1235814282.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: round;
        margin-top: 25px;
        position: relative;
    }
    .overlayrow3{
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.7);
        position:absolute;
    }
    .banner_section{
        text-align: center;
        color:#fff;
        position:absolute;
        width: 90%;
        margin: 0 auto;
    }
    .banner_content {

    }
    .banner_content h1{
        text-transform: uppercase;
        font-size: 50px;
        line-height: 70px;
        padding-top: 200px;
    }
    .banner content p{
        font-size: 20px;
        font-weight: 600;
        text-transform: ;
    }
    .banner button{}
    .banner_button button{
        padding:10px;
        background:none;
        border:2px solid #fff;
        text-transform: uppercase;
        border-radius:3px;
        margin-right:10px;
    }
    .banner_button button:hover{
        background-color: #455964;
        transition: 1s;
    }