*{
    padding: 0;
    margin: 0;
}
/* row -1 css start */
#row1{
    background-color: #9e9ef3;
    height:30px;
    width:100%;
}
    .top-section{
        width:90%;
        margin:0 auto;

    }
    .left-links{
        width:60%;
        float:left;
        height:100%;
    }
    .left-links ul{}
    .left-links ul li{
        float:left;
        list-style:none;
        margin-left:10px;
        color:#fff;
        line-height:30px;
    }
    .left-links ul li a{
        color:#fff;
        text-decoration:none;
    }
    .social-links{
         width:30%;
        float:right;
        height:100%;
        text-align:right;
}
    .social-links i{
        color:#fff;
        line-height:30px;
        border-right:2px solid #000;
        padding-right:8px;
    } 
    /*row 1 css end */

    /* row-2 css start*/
#row2{
    height: 80px;
    width: 100%;
    background: #fff;
}
.header_section{
        width: 90%;
        margin: 0 auto;
}
    .logo{
        width: 20%;
        float: left;
    
    }
    .logo img{
        height: 80px;
        margin-top: 10px;
    }

    .menu{ 
        width: 65%;
        float: right;
    }
    .menu ul{}
    .menu ul li{
        float: left;
        width: 108px;
        text-align: center;
        list-style: none;
       line-height: 80px;
    }
    .menu ul li a{
        text-decoration: none;
        text-transform: uppercase;
        color: #9e9ef3;
    }
    .menu ul li i{
   height: 30px;
   width:  30px;
   border:2px solid orchid;
   border-radius: 100%;
   line-height: 30px;
  
    }

    /* row-2 css end */
    /* row-3 is start*/
    #Row3{
        height:500px;
        width: 100%;
        background-image:url(https://media.architecturaldigest.com/photos/63b5bcb991798386d6c64127/3:2/w_3939,h_2626,c_limit/GettyImages-1235814282.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: round;
        margin-top: 25px;
        position: relative;
    }
    .overlayrow3{
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.7);
        position:absolute;
    }
    .banner_section{
        text-align: center;
        color:#fff;
        position:absolute;
        width: 90%;
        margin: 0 auto;
    }
    .banner_content {

    }
    .banner_content h1{
        text-transform: uppercase;
        font-size: 50px;
        line-height: 70px;
        padding-top: 200px;
    }
    .banner content p{
        font-size: 20px;
        font-weight: 600;
        text-transform: ;
    }
    .banner button{}
    .banner_button button{
        padding:10px 20px;
        background:none;
        border:2px solid #fff;
        text-transform: uppercase;
        border-radius:3px;
        margin-right:10px;
    }
    .banner_button button:hover{
        background-color: #455964;
        transition: 1s;
    }
     /*row 3 is end*/
     /* row 4 is started */
     #row4{
        height: 80px;
        width: 100%;
        background: #234757;
     }
     .form_section{
        width: 90%;
        margin: 0 auto;
     }
     .text_part{
        width: 15%;
        float: left;
        text-transform: uppercase;
     }
     .text_part h4{
        line-height: 32px;
     }
     .text_part h1{
        color: #fff;
     }
     .form_part{
        
        padding-top: 23px;
     }
     .form_part form{ 
        width: 80%;
        float: left;
    
      
     }
     .input_item{
        float: left;
        padding-top: 0px;
        width:416px;
        

     }
     .input_item label{
        font-size: 18px;
        font-weight: 500;
        color: greenyellow;
        padding-right: 15px;
        
     }
     .input_item input[type="Text"]{
        padding: 8px;
        width: 320px;
        color: red;
     }
     .input_item input[type="Date"]{
        padding:8px;
        width:320px;
        color:red;

     }
     .input_item i{
        color:greenyellow;
        position:absolute;
        margin-left: -30px;
        line-height: 35px;
     }
     .form_part form{
        padding: 10px;
        margin-top: 9px;
        background: lightcyan;
        border:none;
     }
     /* Roe 4 end */
     /* Row 5 is started*/
     #row5{
        height: 500px;
        width: 100%;
        background: #fff;
     }
     .offer_section{
        width: 90%;
        margin:0 auto;

     }
     .offer_top{
        text-align: center;
        padding:40px 0px
     }
     .offer_top h2{}
     .offer_top p{}
     .offer_bottom{}
     .all_offer_items{}
     .offer_items{
        width: 230px;
        float: left;
        margin-left: 40px;
        border: 4 px solid gray;
        border-radius: 5px;
        box-shadow: 2px 2px 2px;
        padding: 5px;
        transition: 1s;

     }
     .offer_items img{
        width: 100%;
        height: 150px;
     }
     .offer_items:hover{
        transform:scale(1.2)
     }
     .offer_text{
        width:80%;
        float: left;

    }
     .offer_text h3{}
     .offer_text h4{}
     .offer_icons{
        width:10%;
        float:right;
     }
     .offer_icons i{}

     
     



